* {
	margin: 0;
	padding: 0;
}

main {
	width: 80%;
	font-size: 15px;
	overflow: hidden;
	margin: auto;
	color: black;
}

h2 {
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin: 20px 0 20px 0;
}

h3 {
	font-family: sans-serif;
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}

h4 {
	font-size: 1em;
	margin: 5px 5px 10px 3%;
}

p {
	font-family: sans-serif;
	list-style-type: none;
	margin: 5px 5px 5px 4%;
}

a {
	color: black;
	display: inline-block;
	text-decoration: none;
}

a i {
	padding-left: 20px
}

footer {
	font-family: monospace;
	text-align: center;
	font-size: 0.8em;
	margin: 40px 0 28px 0;
}

@media (min-width: 961px) {
	main {
		font-size: 18px;
	}
	body {
		margin: 0;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
	h4 {
		font-size: 1em;
	}
	p {
		font-size: 1em;
	}
}