html {
	vertical-align: middle;
}

body {
	background-attachment: scroll;
}


/* For desktop: */

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

@media only screen and (max-width: 800px) {
/*	 For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
}


/*-- navigation bar --*/

nav {
	background-color: black;
	position: fixed;
	width: 100%;
	height: auto;
	margin-top: 12px;
	z-index: 100;
}

nav h2 {
	padding-left: 20px;
	font-style: normal;
	color: white;
}

nav ul {
	padding-right: 12px;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	background: rgba(0, 0, 0, .8);
	list-style: none;
	line-height: 60%;
	float: right;
	display: inline-table;
}

nav ul li a {
	padding: 28px;
	padding-left: 28px;
	padding-right: 28px;
	text-decoration: none;
	display: block;
	color: white;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, .4);
	color: white;
	text-decoration: none;
}

.ul-active {
	border-bottom: 1px solid white;
}

#main-page {
	width: 100%;
	height: 100px;
	background-attachment: fixed;
	margin-top: -10px;
	margin-bottom: 100px;
}

#main-section {
	padding-left: 10%; 
	padding-right: 10%; 
	min-height: 100%;
	font-size: 20px;
}

@media only screen and (max-width: 800px) {
	#main-section {
		padding-left: 5%; 
		padding-right: 5%; 
		min-height: 100%;
		font-size: 20px;
	}
}


/*-- index.html --*/

.hello {
	padding-bottom: 20px;
}

.hello h1 {
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}

.hello marquee {
	padding-top: 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}

.hello p {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}

.hello img {
	width: 100%;
	height: auto;
	max-width: 500px;
	vertical-align: middle;
	border: 10px solid #eee;
	border-radius: 999px;
}


/*-- about.html --*/

.cover-pic {
	width: 100%;
	height: auto;
	border: 7px solid #eee;
	margin-bottom: 40px;
}

#about-me-table {
	border: 0px solid black;
	width: 100%;
	font-size: 20px;
}

#about-me-table tr {}

#about-me-table td {
	float: right;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: rgba(0, 0, 255, .8);
	color: white;
}

#about-me-table tr th {
	padding-left: 20px;
}


#about-me-table ul {
	margin-top: 20px;
}

#about-me-table ul li {
	margin-bottom: 5px;
	margin-top: 5px;
}


/*-- contact.html --*/

#last {
	padding-left: 10%;
	padding-right: 15%;
	min-height: 80%;
}

#last h1 {
	font-size: 100px;
	padding-left: 28px;
	color: black;
	font-family: 'Sacramento', serif;
	text-shadow: 15px 15px 15px;
}

#last hr {
	border: 2px solid black;
	width: 100%;
	margin-bottom: 40px;
}

#last p {
	font-size: 28px;
	color: black;
	margin-bottom: 28px;
}


/*-- footer section --*/

footer {
	width: 100%;
	background: black;
	color: white;
	font-size: 28px;
	text-align: center;
}
