html {
    height: 100%;
    overflow: hidden;
    scroll-behavior: unset;
}

body {
    font-family: 'Black Ops One', cursive;
    cursor: pointer;
    user-select: none;
    height: 100%;
    background: url("../images/404.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #012345;
    margin-top: -200px;
    font-size: 12em;
    text-align: center;
    text-shadow: -5px 5px 0 #00000099, -10px 10px 0 #00000066, -15px 15px 0 #00000033;
}

h2 {
    color: #123456;
    font-size: 4em;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: -150px;
}

h3 {
    color: #234567;
    margin-left: 30px;
    font-size: 2em;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
    margin-top: -40px;
}