/* ======== ======== ======== ======== ======== ======== ======== ======== */
/*                                                                         */
/*                     ADJUST THE STYLINGS ACCORDINGLY                     */
/*                                                                         */
/* ======== ======== ======== ======== ======== ======== ======== ======== */

/* ========== Google Fonts Import ========== */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* ========== Root Variables ========== */

/* Default: Light Mode */
:root {
    --primary-color: #4169e1;
    --black: #0c0c0c;
    --white: #f0f8ff;
    --bg-color: #0c0c0c;
    --text-color: #0c0c0c;
    --card-bg: #f0f8ff;
    --box-shadow: #0003;
    --border-color: #f0f8ff;
    --skeleton-bg1: #e0e0e0;
    --skeleton-bg2: #cecece;
}

/* Dark Mode Overrides */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f0f8ff;
        --card-bg: #0c0c0c;
        --box-shadow: #fffa;
    }
}

/* ========== Global Styles ========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    /* outline: 1px solid red; */
}

/* ========== Scrollbar Styling ========== */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* ========== Body Styles ========== */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    align-content: center;
}

/* ========== Main Container Styles ========== */

main {
    margin: auto;
    width: 300px;
    height: auto;
    min-height: 500px;
    max-height: 90vh;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    position: relative;
    color: var(--text-color);
    background-color: var(--card-bg);
    box-shadow: 0 0 8px 0 var(--box-shadow);
}

/* ========== Gradient Animation with Spinning Effect ========== */

main::after,
main::before {
    content: '';
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    z-index: -1;
}

main.active-gradient::after,
main.active-gradient::before {
    animation: 3s spin linear infinite;
    background-image: conic-gradient(from var(--angle), var(--black), var(--white), var(--primary-color));
}

main.active-gradient::before {
    filter: blur(10px);
    opacity: 0.5;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* ========== Cover & Profile Image Styles ========== */

.cover-pic {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    background-color: var(--black);
}

.cover-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    margin: -75px auto 20px auto;
    border: 3px solid var(--border-color);
    box-shadow: 0 0 8px 0 var(--box-shadow);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* ========== Name & Title Styles ========== */

.name {
    font-size: 1.4em;
    font-weight: bold;
    width: 90%;
    height: 1.2em;
    margin: 10px auto;
    color: var(--primary-color);
}

.title {
    font-size: 1.1em;
    font-weight: 600;
    width: 90%;
    height: 1.28em;
    margin: 10px auto;
}

/* ========== Blinking Cursor Animation ========== */

.title::after {
    content: "|";
    animation: blink 1s infinite;
    visibility: visible;
}

@keyframes blink {

    0%,
    50% {
        opacity: 0;
    }

    51%,
    100% {
        opacity: 1;
    }
}

/* ========== Separator Line Styles ========== */

.separator {
    width: 60%;
    height: 1px;
    margin: auto;
    background: linear-gradient(273deg, var(--card-bg), var(--primary-color), var(--card-bg));
}

/* ========== Bio Section Styles ========== */

.bio {
    font-size: 0.9em;
    width: 90%;
    height: 75px;
    line-height: 1.28em;
    margin: 10px auto;
}

/* ========== Social Icons Section Styles ========== */

.social {
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* ========== Icon Styles ========== */

.icon {
    width: 28px;
    height: 28px;
    line-height: 0;
    border-radius: 4px;
    text-align: center;
    align-content: center;
    box-shadow: 0px 0px 2px 0px var(--box-shadow);
}

.icon:hover {
    filter: brightness(0.8);
}

.icon::before {
    vertical-align: middle;
}

/* ========== Hidden Icon Styles ========== */

.icon-hidden {
    visibility: hidden;
    opacity: 0;
}

/* ========== Icon Image Styles ========== */

.icon img {
    max-width: 64%;
    max-height: 64%;
}

/* ========== Skeleton Animation Styles ========== */

.skeleton {
    background-color: var(--skeleton-bg1);
    background-image: linear-gradient(90deg, var(--skeleton-bg1) 0%, var(--skeleton-bg2) 50%, var(--skeleton-bg1) 100%);
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
}

/* ========== Shimmering Animation for Skeletons ========== */

.skeleton.title::after {
    content: "";
    visibility: hidden;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

/* ========== Icon Specific Backgrounds ========== */

.icon-globe {
    background: linear-gradient(135deg, #0A66C2 0%, #004182 100%);
}

.icon-envelope {
    background: linear-gradient(135deg, #0088cc 0%, #006699 100%);
}

.icon-telephone {
    background: linear-gradient(135deg, #25D366 0%, #128C7E 100%);
}

.icon-whatsapp {
    background: linear-gradient(135deg, #25D366 0%, #128C7E 100%);
}

.icon-telegram {
    background: linear-gradient(135deg, #0088cc 0%, #006699 100%);
}

.icon-linkedin {
    background: linear-gradient(135deg, #0A66C2 0%, #004182 100%);
}

.icon-facebook {
    background: linear-gradient(135deg, #1877F2 0%, #0e4ab0 100%);
}

.icon-instagram {
    background: linear-gradient(135deg, #f58529 0%, #dd2a7b 50%, #8134af 75%, #515bd4 100%);
}

.icon-x {
    background: linear-gradient(135deg, #000000 0%, #434343 100%);
}

.icon-github {
    background: linear-gradient(135deg, #333333 0%, #000000 100%);
}

/* ======== ======== ======== ======== ======== ======== ======== ======== */