@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f0f8ff;
}

::-webkit-scrollbar-thumb {
    background: #0c0c0c;
}

/* main contents */

main {
    width: min(256px, 80vw);
    max-height: min(512px, 72vh);
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #f0f8ff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid #f0f8ff;
    border-radius: 10px;
    background-color: transparent;
}

/* ---------- */
/* index.html */
/* ---------- */

.jahid-pic {
    margin-bottom: 20px;
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

.jahid-name {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.jahid-designation {
    margin-bottom: 10px;
}

.jahid-bio {
    margin-bottom: 20px;
}

.link-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
    justify-content: center;
}

.link {
    width: 30px;
    height: 30px;
}

.link img {
    width: 100%;
    height: auto;
}

/* ------------ */
/* contact.html */
/* ------------ */

form {
    font-size: 20px;
    display: grid;
}

form * {
    text-align: left;
    margin: 5px 0;
}

form label {
    text-transform: capitalize;
}

form input,
form textarea {
    color: #f0f8ff;
    background-color: transparent;
    padding: 5px;
    font-size: 16px;
    border: 1px solid;
    line-height: 20px;
}

form button {
    margin: 20px auto 0 auto;
    padding: 5px;
    width: 200px;
    text-align: center;
    color: #f0f8ff;
    background-color: transparent;
    border: 1px solid #f0f8ff;
}

form button span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

form button:hover {
    color: #0c0c0c;
    background-color: #f0f8ff;
    border: 1px solid #f0f8ff;
}

/* ---------- */