@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
}

main {
    padding: 20px;
    width: 256px;
    height: 480px;

    text-align: center;
    font-size: 16px;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    background-color: transparent;
}

/* ---------- */
/* index.html */
/* ---------- */

.jahid-pic {
    margin-bottom: 20px;
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

.jahid-name {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.jahid-designation {
    margin-bottom: 10px;
}

.jahid-bio {
    margin-bottom: 5px;
}



.links-row1 {
    position: absolute;
    bottom: 55px;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.links-row2 {
    position: absolute;
    bottom: 10px;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.link {
    margin: 5px;
    flex: 40px;
}

.link a img {
    width: 30px;
    height: auto;
}

/* ------------ */
/* contact.html */
/* ------------ */

form {
    text-align: left;
    font-size: 20px;
    display: grid;

}

form * {
    text-align: left;
    margin: 5px 0;
}

form label {
    text-transform: capitalize;
}

form input,
form textarea {
    color: white;
    background-color: transparent;
    padding: 5px;
    font-size: 16px;
    border: 1px solid;
    line-height: 20px;
}

form button {
    margin: 20px auto;
    padding: 5px;
    width: 200px;
    text-align: center;
    display: block;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

form button span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

form button:hover {

    color: black;
    background-color: white;
    border: 1px solid white;
}